[submodule ".github"]
	path = .github
	url = git@github.com:RandyMcMillan/.github.git
	branch = master
	ignore = dirty
[submodule "nostril"]
	path = nostril
	url = git@github.com:RandyMcMillan/nostril
	branch = master
	ignore = dirty
[submodule "legit"]
	path = legit
	url = git@github.com:RandyMcMillan/legit
	branch = v0.2.1_1
	ignore = dirty
[submodule "dotfiles"]
	path = dotfiles
	url = git@github.com:RandyMcMillan/dotfiles.git
	branch = master
	ignore = dirty
[submodule "strfry"]
	path = strfry
	url = git@github.com:RandyMcMillan/strfry.git
	ignore = dirty
[submodule "nostrclient"]
	path = nostrclient
	url = git@github.com:RandyMcMillan/nostrclient.git
	ignore = dirty
[submodule "psychic-bassoon"]
	path = psychic-bassoon
	url = git@github.com:RandyMcMillan/psychic-bassoon.git
	ignore = dirty
[submodule "turbo-meme"]
	path = turbo-meme
	url = git@github.com:RandyMcMillan/turbo-meme.git
	ignore = dirty
[submodule "bitcoin"]
	path = bitcoin
	url = git@github.com:RandyMcMillan/bitcoin.git
	ignore = dirty
[submodule "ord"]
	path = ord
	url = git@github.com:RandyMcMillan/ord.git
	ignore = dirty
[submodule "spotify-tui"]
	path = spotify-tui
	url = git@github.com:Rigellute/spotify-tui.git
[submodule "firmware"]
	path = firmware
	url = git@github.com:RandyMcMillan/firmware.git
	ignore = dirty
[submodule "btcdeb"]
	path = btcdeb
	url = git@github.com:RandyMcMillan/btcdeb.git
	ignore = dirty
[submodule "liana"]
	path = liana
	url = git@github.com:RandyMcMillan/liana.git
[submodule "actix-web-rust-embed-responder"]
	path = actix-web-rust-embed-responder
	url = git@github.com:SeriousBug/actix-web-rust-embed-responder.git
[submodule "rust-embed"]
	path = rust-embed
	url = git@github.com:pyrossh/rust-embed.git
